<!DOCTYPE html>
<html>
<head>
  <title>Gty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to "Create Team", new_team_path%>
</nav>
<%= yield %>

</body>
</html>
